.box-model-1{
    width: 436px;
    border: 10px solid red;
    margin: 0px;
    padding: 0px;
}
.box-model-2{
    width: 404px;
    border: 16px solid orange;
    margin: 0px;
    padding: 0px;
  }
  .box-model-3{
    width: 340px;
    border: 32px solid yellow;
    margin: 0px;
    padding: 0px;
  }
  .box-model-4{
    width: 300px;
    background-color: pink;
    margin: 0px;
    border: 0px;
    padding: 20px;
  }